.menuContas{
    
    padding: 20px;

    position: inherit;
    justify-content:center;
    align-items:center;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;

    border-radius: 10px;
    box-shadow: 0 0 5px rgb(255, 255, 255) inset;

    width: 138vh;
    background: var(--cor-primaria--);
}

.pesq-div{
    
    padding:0.1em;
    margin-bottom:30px;

    border-radius: 10px;
    box-shadow: 0 0 5px rgb(255, 255, 255) inset;

    width: 132vh;

    background: var(--cor-secundaria--)
}

.modal-header, .modal-body, .modal-footer{
    background: var(--cor-primaria--);
    color: white;
}

