
/* width */



tr{
    animation: linha .3s;
}

table{
    border-radius: 10px;
}


tbody tr:hover{
    animation: destaque .3s forwards;
}

.container{
    display: flex;
}


.div-pesquisa{
    height: 10vh;
    width: 50vh;
    margin-left: auto;
    margin-right: auto;
}

#doadorIdTxt{
    display:none;
}


#div-principal{
    color: white;
    box-shadow: 0 0 5px rgb(255, 255, 255) inset;
    display: grid;

    border-radius: 10px;

    background-color: var(--cor-primaria--);
    height:85vh;
    width: 60rem;

    padding:15px;

    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;

    justify-content: space-around;

    overflow: hidden;
}

#doador-div{

    background: var(--cor-principal--);
    margin-left: 10px;
    padding: 10px;

    border-radius: 10px;
    box-shadow: 0 0 3px rgb(255, 255, 255) inset;
    
    overflow-y:scroll;
}

#doador-div tbody{
    cursor: pointer;
}

#doacao-div{

    background: var(--cor-primaria--);
    margin-right: 5px;
    padding: 10px;

    border-radius: 10px;
    
    box-shadow: 0 0 3px rgb(255, 255, 255) inset;
    
    overflow-y:scroll;
    overflow-x:scroll;

}

#btnDiv{
    padding-right: 5vh;
}

#doador-modal-content {
    box-shadow: 0 0  3px rgb(255, 255, 255) inset;
    border: none;
    background-color: var(--cor-primaria--);
    color: white !important;

    width:50vh;

    justify-content: center;
    margin-right: auto;
    margin-left: auto;
  }

  #doacao-modal-content {
    box-shadow: 0 0 3px rgb(255, 255, 255) inset;
    border: none;
    background-color: var(--cor-primaria--);
    color: white !important;

    justify-content: center;
  }

  @keyframes destaque{
      to{
          background: var(--cor-secundaria--);
          box-shadow: 0 0 3px rgb(255, 255, 255) inset;
          opacity : 1;
      }
  }

  @keyframes linha{
      from{
          opacity: 0;
      }
      to{
          opacity:1
      }
  }

